.interprete_container {
    border: 2px solid green;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
}

.interprete_image {
    height: auto;
    border-radius: 10px;
}

.interprete_texto {
    display: flex;
    flex-direction: column;
}

.interprete_name {
    font-weight: bold;
}