/* Contenedor principal: centra todo vertical y horizontalmente */
#form_container {
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center; /* centra vertical */
    flex-direction: column; /* los elementos dentro se apilan */
    min-height: 90vh; /* ocupa casi toda la altura de la pantalla */
    gap: 20px; /* espacio entre form y botón */
}

/* Formulario */
#form {
    background: #1a1a1d;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    max-width: 550px;
    width: 100%;
    border: 1px solid #2a2a2e;

    display: flex;
    flex-direction: column;
    gap: 15px; /* espacio entre campos */
}

/* Campos */
form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #cfcff9;
}

input,
select {
    width: 100%;
    padding: 10px;
    background: #242428;
    color: #f0f0f5;
    border: 1px solid #444;
    border-radius: 7px;
    font-size: 15px;
    transition: 0.2s;
    box-sizing: border-box;
}

input:focus,
select:focus {
    border-color: #9d4edd;
    outline: none;
    box-shadow: 0 0 6px #9d4edd;
    box-sizing: border-box;
}

.msg_error {
    color: #ff4c7a;
    font-size: 12px;
}

.validation_error {
    border: 2px solid #ff4c7a !important;
}

/* Radio buttons */
.radio_container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 6px;
}

input[type="radio"] {
    width: auto;
    accent-color: #c77dff;
}

/* Botón Save: centrado y ancho completo del formulario */
#save {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background: #9d4edd;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

#save:hover {
    background: #7b2cbf;
}

.msg_status_ok {
    color: #7b2cbf;
    font-weight: 600;
    margin-top: 10px;
}
