* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0b0d17; 
    color: #f1f1f1;
    padding: 20px;
}

.title {
   font-family: "Star Jedi", Arial, sans-serif; 
    font-size: 48px;
    color: #ffe81f; 
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 20px;

    
    text-shadow:
        0 0 5px #ffe81f,
        0 0 10px #ffe81f,
        0 0 20px #ffda5c,
        0 0 30px #ffda5c,
        0 0 40px #ffd700;

    
    transform: perspective(400px) rotateX(5deg);
} 



#main-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}


#aside-movies {
    background: #1b1e29;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
}


#movie-list {
    list-style: none; 
    padding: 0;
    margin: 0;
}


.movie {
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #242837;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 15px;
    display: block;
}

.movie:hover {
    background: #2f3550;
    transform: scale(1.03);
}

.movie:active {
    transform: scale(0.98);
}


#info-container {
    background: #1b1e29;
    border-radius: 10px;
    padding: 20px;
    min-height: 300px;
}


#movie-data h1 {
    margin-bottom: 10px;
    color: white; 
    text-shadow: 0 0 5px #ffe000aa;
}

#movie-data h2 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #c9c9c9;
}

#movie-data h3 {
    margin-bottom: 15px;
    color: #9cb3ff;
}

#movie-data p {
    font-family: "Star Jedi", Arial, sans-serif;
    text-transform: uppercase;
    color: #ffe81f;            
    letter-spacing: 1px;       
    line-height: 1.6;          
    font-size: 20px;
    text-align: justify;
}


