#releasables {
    display: grid;
    grid-template-columns: repeat(3, 358px);
    grid-template-rows: repeat(3, 224px);
    justify-content: center;
    align-content: center;
}

#draggables {
    height: 700px;
    width: 1100px;
    background-color: white;
    border: 1px solid;
}

.releasable {
    height: 224px;
    width: 358px;
    background: rgb(177, 175, 179);
}
