.AdminRoles_container {
    display: flex;
    flex-direction: column; /* hace que los hijos se apilen verticalmente */
    gap: 12px; /* espacio entre cada tarjeta */
    padding: 20px;
    background-color: #f1f3f5; /* fondo suave */
    min-height: 100vh;
}

.AdminRoles_tittle {
    font-size: 28px;
    font-weight: bold;
    color: #222;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
